
.slide3-root {
  width: 100%;
  height: 100%;
  padding: 60px 90px;
  box-sizing: border-box;
}

.slide3-grid {
  display: grid;
  grid-template-columns: 1.1fr 1.4fr;
  gap: 70px;
  height: 100%;
  align-items: center;
}

.left-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.right-stack {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.img-card-left {
  width: 100%;
  max-width: 40vw;
  aspect-ratio: 18 / 10;
  
  border-radius: 26px;
  overflow: hidden;

  border: 2px solid rgba(217, 180, 255, 0.8);
  box-shadow:
    0 0 30px rgba(168, 85, 247, 0.7),
    0 0 60px rgba(99, 102, 241, 0.4);

  backdrop-filter: blur(6px);
}

.img-card-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.small-img-left {
  max-width: 30vw;
  aspect-ratio: 2 / 1;
}

.img-card-right {
  width: 100%;
  max-width: 45vw;
  aspect-ratio: 12 / 6;

  border-radius: 24px;
  overflow: hidden;

  border: 2px solid rgba(96, 165, 250, 0.9);
  box-shadow:
    0 0 26px rgba(59, 130, 246, 0.8),
    0 0 60px rgba(56, 189, 248, 0.4);

  backdrop-filter: blur(6px);
}

.img-card-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.glass {
  background: rgba(15, 23, 42, 0.65);
  padding: 6px;
}

.slide3-main-title {
  text-align: center;
  font-size: 50px;
  line-height: 1.0;
  margin: 8px 0;

  font-family: "PoppinsSemiBold", system-ui, sans-serif;
  color: #fff;

  text-shadow:
    0 0 20px rgba(244, 244, 245, 0.9),
    0 0 45px rgba(168, 85, 247, 0.9);
}

.text-block {
  background: rgba(15, 23, 42, 0.89);
  border-radius: 22px;
  padding: 18px 22px;

  border: 1px solid rgba(216, 180, 254, 0.4);
  box-shadow: 0 0 30px rgba(168, 85, 247, 0.3);
}

.text-block.highlight {
  background: rgba(30, 27, 75, 0.9);
  border: 1px solid rgba(196, 181, 253, 0.6);
}

.slide3-subtitle {
  margin: 0 0 8px 0;
  font-size: 25px;
  letter-spacing: 0.02em;

  font-family: "PoppinsSemiBold", system-ui, sans-serif;
  color: #fff;
  text-shadow: 0 0 10px rgba(216, 180, 254, 0.85);
}

.bullet-list {
  margin: 0;
  padding-left: 50px;
  list-style: disc;

  font-size: 19px;
  line-height: 1.65;
  font-family: "PoppinsRegular", system-ui, sans-serif;
  color: #f9fafb;
}

.bullet-list li {
  margin-bottom: 10px;
}

.slide3-description {
  margin-left: 20px;
  font-size: 19px;
  line-height: 2.0;

  font-family: "PoppinsRegular", system-ui, sans-serif;
  color: #f9fafb;
}

@media (max-width: 1100px) {
  .slide3-grid {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }

  .left-stack {
    gap: 18px;
  }

  .img-card {
    width: 65%;
  }

  .slide3-main-title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .slide3-root {
    padding: 30px 20px;
  }

  .img-card {
    width: 90%;
  }

  .slide3-main-title {
    font-size: 1.7rem;
  }

  .slide3-subtitle {
    font-size: 1.05rem;
  }

  .bullet-list,
  .slide3-description {
    font-size: 0.95rem;
  }
}
