.slide11-root {
  width: 100%;
  height: 100%;
  padding: 90px 100px;
  box-sizing: border-box;

  color: #fff;

  display: flex;
  align-items: left;
  justify-content: left;
}

.slide11-vstack {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

.slide11-title {
  font-size: 4.5rem;
  margin-bottom: 20px;
  text-shadow: 0 0 18px rgba(255,255,255,0.5);
}

.slide11-list {
  list-style: decimal;
  padding-left: 3.0rem;
}

.slide11-item {
  margin-bottom: 25px;
}

.slide11-text {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 5px;
}

.slide11-link {
  font-size: .9rem;
  color: #c4b5fd;

  word-break: break-word;
  text-decoration: underline;

  transition: color 0.2s ease;
}

.slide11-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .slide11-root {
    padding: 50px 6vw 40px;
  }

  .slide11-title {
    font-size: 2rem;
  }

  .slide11-text {
    font-size: 0.85rem;
  }

  .slide11-link {
    font-size: 0.75rem;
  }
}